/* CSS for the navbar partial and the footer partial. */
html {
    position: relative;
    min-height: 100%;
}
body {
    width: 100%;
    background-color: #ffffff;
    /* Margin bottom set equal to footer height, must match or it will look off. */
    margin-bottom: 80px;
}
.uppernavbar {
    background-color: #DDD;
    color: #3F547F;
}
.paddingtop {
    padding-top: 45px;
}
.mobilenavmargin {
    margin: 5px 0;
}

/* Lower Navbar only seen if logged in. */
.dashboardnavbar {
    background-color: #3f547f;
}
.dashboardnavbar div {
    padding: 5px 0px;
}
.dashboardnavbar div:hover {
    background-color: #999fad;
}
.dashboardnavbar > a {
    color: #ffffff;
    text-decoration: none;
}

/* CSS for footer. */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Setting the fixed height of the footer on next line. */
    height: 80px;
    background-color: #ddd;
}
.container .text-muted {
    margin-top: 30px;
    color: #3f547f;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}