/* CSS for the navbar partial and the footer partial. */
html {
    position: relative;
    min-height: 100%;
}
body {
    width: 100%;
    background-color: #ffffff;
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}
.uppernavbar {
   /* margin-left: -53px;
    margin-right: -53px;*/
}
.firstnav {
    padding-top: 2%;
    padding-bottom: 2%;

}
.secondnav {
    padding-top: 1.5%;
    padding-bottom: 1.4%;
}
.thirdnav {
    padding-top: 2%;
    padding-bottom: 2%;
}
.lastnav {
    padding-top: 2%;
    padding-bottom: 2%;
    /*border-right: 5px solid #ff8000;*/
}
.upnav {
    background-color: #DDD;
    color: #3F547F;
    /*border-left: 5px solid #ff8000;
    border-top: 5px solid #ff8000;
    border-bottom: 5px solid #ff8000;*/
}
a > .upnav {
    text-decoration: none;
    color: #3F547F;
}
.navlink {
    /*border-left: 5px solid #DDD;
    border-bottom: 5px solid #DDD;
    border-top: 5px solid #DDD;*/
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3F547F;
    color: white;
}
.lastnavlink {
    /*border-right: 5px solid #DDD;*/
}
.navlink:hover {
    /*border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-top: 5px solid #ff8000;*/
    background-color: #ff8000;
    color: black;
}
.dashboardnavbar {
    /*margin-left: -53px;
    margin-right: -53px;*/
}
/*.navbtns > .btn-default {
    border: 1px solid #ffffff;
}
.navbtns > .btn-default:hover {
    border: 1px solid #4cbfe6;
    background-color: #ffffff;
    color: #4cbfe6;
}
.navbtns > .btn-default:active {
    border: 1px solid #198cb3;
    background-color: #e6e6e6;
    color: #198cb3;
}*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: #ddd;
}
.container .text-muted {
    margin-top: 30px;
    color: #3f547f;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}