.marker{
	background-color: yellow;
}
.arrowBig{
	font-size: 20px;
}
.numberDivider {
	border-right: 2px solid black;
}
.aboutUs{
	margin-top: 25px;
	margin-bottom: 75px;
	color:#f68735;
}
.nameColor{
	color: #3F547F;
	text-decoration: none;
}
.nameColor:hover {
	color: #f68735;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}
.forimages {
	width: 280px;
	height: 340px;
	overflow: hidden;
	margin: 0 auto;
}
.reagan {
	margin-top: -54px;
}