/* Start Shared CSS. */
.containermargins {
    margin-top: 4%;
    margin-bottom: 10%;
}
.fourohfourmargins {
    margin-top: 5%;
    margin-bottom: 15%;
}
.lostnotey {
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
    font-family: arial black;
}
.pushdown {
    margin-top: 10px;
}
.img-inline {
    display: inline-block;
}
.img-margintop {
    margin: 10px 0;
}
/* End Shared CSS. */
/* Start CSS for Sheets index.blade.php. */
.table>tbody>tr>td {
    vertical-align: middle;
}
/* End CSS for Sheets index.blade.php. */
/* Start CSS for Sheets show.blade.php. */
.infobox {
    display: none;
    margin-top: 10px;
    margin-bottom: 0;
}
.sheetcolbtns {
    margin: 5px 0;
}
.deleteform {
    display: inline-block;
}
.sheettitle {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.pushsheetlistdown {
    margin-top: 22px;
}
.givevocabbottom {
    margin-bottom: 50px;
}
.givevocabtop {
    margin-top: 50px;
}
.responseslide {
    display: none;
}
dt, dd {
    display: inline-block;
}
dd {
    color: #f68735;
}
/* End CSS for Sheets show.blade.php. */
/* Start CSS for Sheets create.blade.php. */
.radiomargin {
    margin-left: 10px;
}
.formmargin {
    margin-bottom: 15px;
}
/* End CSS for Sheets create.blade.php. */
/* Start CSS for Sheets matching.blade.php. */
.matchingbtn {
    margin: 0 20px;
}
.matchingimg {
    margin: 0 40px;
}
.matchingtitle {
    margin-top: 59px;
    margin-bottom: 20px;
    display: inline-block;
}
.cluematch {
    border: 2px solid #3F547F;
    padding: 25px 25px;
    margin: 20px;
    display: inline-block;
    max-width: 200px;
}
.responsematch {
    border: 2px solid #f68735;
    padding: 25px 25px;
    margin: 20px;
    display: inline-block;
    max-width: 200px;
}
.correctmatch {
    box-shadow: inset 0 0 25px green;
}
.nomatch {
    box-shadow: inset 0 0 25px red;
}
.countholder {
    position: fixed;
    top: 47%;
    left: 0px;
    background-color: rgba(0,0,0,0.65);
    color: #fff;
    padding: 0 20px 15px;
    text-align: center;
    z-index: 5;
    height: 122px;
}
.countholder p {
    margin-top: 10px;
    display: none;
    position: absolute;
    top: -10px;
    left: 142px;
    background-color: rgba(0,0,0,0.65);
    height: 122px;
    width: 320px;
    padding: 10px;
}
/* End CSS for Sheets matching.blade.php. */
/* ====================================================================== */
/* Start CSS for Landing Page, main.blade.php. */
.maintop {
    background-color: #ddd;
    text-align: center;
}
.maintop h1 {
    margin-top: 127px;
    color: #3F547F;
}
.maintop h3 {
    color: #999fad;
    margin: 0 0 15px 0;
}
.mainnotey {
    height: 425px;
    width: 370px;
    margin: 50px auto 50px;
    background: url(/img/notey_big.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.noteyspan {
    font-size: 22px;
    font-style: italic;
    height: 117px;
    width: 209px;
    position: absolute;
    top: 30px;
    left: 149px;
    padding: 11px 10px;
}
.mainmiddle {
    background-color: #fff;
    /*height: 650px;*/
    text-align: center;
}
.mainmiddle h1 {
    color: #3F547F;
    margin-top: 95px;
}
.middle1 {
    height: 300px;
    padding: 3px 10px 0;
    margin-top: 75px;
    margin-bottom: 130px;
}
.middle1 > h3 {
    margin-top: 10px; 
}
.middle2 {
    height: 300px;
    padding: 0px 10px 0;
    margin-top: 75px;
    margin-bottom: 130px;
}
.middle2 > h3 {
    margin-top: 6px; 
}
.middle3 {
    height: 300px;
    padding: 2px 10px 0;
    margin-top: 75px;
    margin-bottom: 130px;
}
.middle3 > h3 {
    margin-top: 7px; 
}
.mainlast {
    background-color: #3F547F;
    /*height: 525px;*/
    text-align: center;
}
.mainlast h3 {
    color: #f68735;
    font-size: 50px;
    margin-top: 45px;
}
.mainlast h1 {
    color: #fff;
    font-size: 100px;
    font-weight: bold;
}
.mainlast p {
    color: #ddd;
    font-size: 20px;
    margin: 10px 0 50px;
}
.mainlast span {
    color: #999fad;
}
.mainlast img {
    max-height: 180px;
}
/* End CSS for Landing Page, main.blade.php. */
/* Start CSS for Public Feed main page. */
.publicbtnmargin {
    margin-bottom: 10px;
}
.mdash {
    color: #999fad;
}